!!!
%html
  %head
    %title Pages
    = stylesheet_link_tag    'application', media: 'all'
    = csrf_meta_tags

  %body
    #fb-root

    #display-container.container

    -# Templates
    = render partial: "templates/login"
    = render partial: "templates/page_select"
    = render partial: "templates/page"
    = render partial: "templates/posts"

    -# Javascript
    = render partial: "lib/facebook"
    = javascript_include_tag 'application'
